# www
server {
    listen 80;
    charset utf-8;
    root /path/to/chimera/www;
    server_name chimera.rey;
    index index.html;
    client_max_body_size 5M;

    location / {
        try_files $uri /index.html;
    }

    location ~ \.(js|css|ico|htm|html|json)$ {
        try_files $uri =404;
    }

    location /_/ {
        proxy_pass_header Server;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Scheme $scheme;
        proxy_pass http://chimera_backends;
    }
}

# apps
upstream chimera_backends {
    server host_app_server:8888;
}
