<div class="post-item">
    <h2 class="post-item__title">{{post.title}}</h2>

    <!-- editable -->
    <div>
        <button class="btn btn-default" ng-click="editPost(post.alias)" title="Редактировать пост"><i class="fa fa-edit"></i> Редактировать пост</button>
    </div>

    <p class="post-item__meta">{{post.meta.dateCreate}} by <a href="#">{{post.meta.author}}</a></p>

    <div class="post-item__tags">
        <p class="tag-list">
            <a ng-repeat="tag in post.tags" class="label label-default tag-list__label" ui-sref="main.blog.tag({tagAlias: tag.alias, page: 1})">{{tag.title}}</a>
        </p>
    </div>

    <div class="post-item__text" ng-bind-html="post.text"></div>
</div>

<a ng-click="deletePost()" class="btn btn-default"><i class="fa fa-trash"></i> Удалить</a>