<div ng-init="catalog.progress=true">
    <h3>{{catalog.title}}</h3>

    <div ng-if="catalog.progress">
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            <span class="sr-only"></span>
          </div>
        </div>
    </div>

    <div class="alert alert-danger" role="alert" ng-if="catalog.error">{{catalog.error}}</div>

</div>

<div list-posts posts="catalog.posts" pagination-data="catalog.pageData" read-more="main.readMore"></div>