<div>
    <p>Демонстрация системы рекомендаций на примере случайных данных. В БД 100 000 выдуманных пользователей которые случайным образом оценили ряд фильмов из Top 250 IMDB.</p>
    <p>Выберите двух пользователей и посмотрите на их рекомендации.</p>
    <p ng-repeat="(id, name) in fakeUserList"><a href="#" ng-click="getRecommendation(id, name)">{{name}}</a></p>

    <div ng-if="recommendation.fakeUserId">
        <div ng-if="!progress">
            <h4>Кластерный анализ</h4>

            <p>
                <b>{{recommendation.fakeUserName}}</b> относится к кластеру <b>{{recommendation.clusterName}}</b>, в котором так же находятся 
                <b>{{recommendation.infoClusters[recommendation.clusterName].toFixed(2)}}%</b> всех пользователей.
            </p>

            <p>
                Согласно результатам работы сети Кохонена <b>{{recommendation.fakeUserName}}</b>, например, с <b>{{recommendation.fakeOtherUserName}}</b> может вместе посмотреть кино (оценка):
            </p>
            <ul>
                <li ng-repeat="item in recommendation.neuroRecommendations"><a href="http://www.imdb.com/title/{{item[0]}}/">{{getMovieByImdb(item[0])['title']}}</a>
                <small>({{item[1].toFixed(1)}})</small></li>
            </ul>

            <p>Персональные рекомендации (на основе статистических данных пользователей в рамках одного кластера) для <b>{{recommendation.fakeUserName}}</b></p>
            <ul>
                <li ng-repeat="item in recommendation.statRecommendations"><a href="http://www.imdb.com/title/{{item[0]}}/">{{getMovieByImdb(item[0])['title']}}</a>
                <small>({{item[1].toFixed(1)}})</small></li>
            </ul>

            <p>Общие рекомендации (исходя из работы звезды Гроссберга) <b>{{recommendation.fakeUserName}}</b></p>
            <ul>
                <li ng-repeat="item in recommendation.outStarRecommendations"><a href="http://www.imdb.com/title/{{item[0]}}/">{{getMovieByImdb(item[0])['title']}}</a></li>
            </ul>
        </div>
    </div>  

    <div ng-if="progress">
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            <span class="sr-only"></span>
          </div>
        </div>
    </div>  
</div>