<div class="blog-post">
    <h2 class="blog-post-title" contenteditable="true">Заголовок поста</h2>

    <p class="blog-post-meta"></p>

    <div class="blog-post-text" contenteditable="true">
        <div>Напиши текст тут</div>
    </div>

    <input type="text" class="form-control typeahead blog-post-aliasCatalog" placeholder="Search for...">

    <h6 class="blog-post-alias" contenteditable="true">Псведоним (alias) поста</h6>
</div>

<a ng-click="addNewPost()" class="btn btn-success">Отправить</a>