<div class="catalog-edit">
    <h2 class="catalog-edit__header">Новый каталог</h2>
    <input type="text" class="catalog-edit__title" ng-model="catalogEdit.title" placeholder="Заголовок каталога">
    <input type="text" class="catalog-edit__alias" ng-model="catalogEdit.alias" placeholder="Псведоним (alias) каталога">

    <input type="text" class="typeahead catalog-edit__parent-alias_view" placeholder="Укажи родительский каталог">
    <input type="hidden" class="catalog-edit__parent-alias_hide" ng-model="catalogEdit.parentAlias">
</div>

<a ng-click="sendCatalogEdit()" class="btn btn-success">Отправить</a>
