<div class="post-edit">
    <h2 class="post-edit__title" contenteditable="true">Заголовок поста</h2>

    <div class="post-edit__text" contenteditable="true">
        <div>Напиши текст тут</div>
    </div>

    <h6 class="post-edit__alias" contenteditable="true">Псведоним (alias) поста</h6>

    <input type="text" class="form-control typeahead post-edit__catalog-alias_view" placeholder="Укажи каталог для поста">
    <input type="hidden" class="post-edit__catalog-alias_hide">
</div>

<a ng-click="postEdit()" class="btn btn-success">Отправить</a>