
<div class="alert alert-info" role="alert" ng-if="posts && !posts.length">Постов не найдено</div>

<div class="row" ng-repeat="post in posts">
    <br>
    <div class="col-md-2 col-md-3 text-center">
        <a class="story-img" href="#"><img src="//placehold.it/100" style="width:100px;height:100px" class="img-circle"></a>
    </div>
    <div class="col-md-10 col-md-9">
        <h3>{{post.title}}</h3>

        <!-- editable -->
        <div>
            <button class="btn btn-default" ng-click="editPost(post.alias)" title="Редактировать пост"><i class="fa fa-edit"></i></button>
        </div>

        <div ng-bind-html="post.text"></div>
        <p class="lead">
            <a class="btn btn-default" ui-sref="main.blog.post({postAlias: post.alias})">{{readMore}}</a>
        </p>
        <p class="pull-right tag-list">
            <a ng-repeat="tag in post.tags" class="label label-default tag-list__label" ui-sref="main.blog.tag({tagAlias: tag.alias, page: 1})">{{tag.title}}</a>
        </p>
        <ul class="list-inline">
            <li>{{post.meta.dateCreate}} от <a ui-sref="main.blog.author({userId: post.meta.user})">{{post.meta.author}}</a></li>
            <li><a href="#"><i class="fa fa-comments-o"></i> 4 Comments</a></li>
        </ul>
        <br>
        <br>
    </div>
</div>

<div paging page="paginationData.currentPage" page-size="paginationData.pageSize" total="paginationData.total"
     ui-state="state" ui-state-params="{alias: alias, page: paginationData.currentPage}"></div>
