.blog {}

.catalog {}

/* catalogEdit.html */
.catalog-edit {}
.catalog-edit__title {
    margin: 0 0 10px 0;
    padding: 5px;
    border: 1px solid #cacaca;
}
.catalog-edit__alias {
    margin: 0 0 10px 0;
    padding: 5px;
    border: 1px solid #cacaca;
}
.catalog-edit__parent-alias_view {
    margin: 0 0 10px 0;
}
.catalog-edit__parent-alias_hide {}

.post {}

/* postEdit.html */
.post-edit {}
.post-edit__title {
    margin: 0 0 10px 0;
    padding: 5px;
    border: 1px solid #cacaca;
}
.post-edit__text {
    margin: 0 0 10px 0;
    padding: 5px;
    border: 1px solid #cacaca;
}
.post-edit__tags {}
.post-edit__alias {
    margin: 0 0 10px 0;
    padding: 5px;
    border: 1px solid #cacaca;
}
.post-edit__catalog-alias_view {
    margin: 0 0 10px 0;
}
.post-edit__catalog-alias_hide {}

/* tags.html */
.tag-list {}
.tag-list__label {
    margin-right: 5px;
}
