<div class="col-sm-8 blog-main" ng-init="collection.progress=true">

    <h3>{{collection.title}}</h3>


    <div paging page="paging.currentPage" page-size="paging.pageSize" total="paging.total" ui-sref="main.collection({aliasCollection: collection.alias, page: paging.currentPage})"></div>


<hr>
    <p>
        <span ng-repeat="page in collection.pages"><a ng-href="/collection/{{collection.alias}}/{{page}}">{{page}}</a></span>
    </p>

    <div ng-if="collection.progress">
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            <span class="sr-only"></span>
          </div>
        </div>
    </div>

    <div class="alert alert-danger" role="alert" ng-if="collection.error">{{collection.error}}</div>

    <div class="blog-post" ng-repeat="post in collection.posts">
        <h4 class="blog-post-title">{{post.title}}</h4>

        <p class="blog-post-meta">{{post.meta.dateCreate}} by <a href="#">{{post.meta.author}}</a></p>

        <div ng-bind-html="post.text"></div>

        <a ng-href="/post/{{post.alias}}">{{main.readMore}}</a>
    </div>

    <div class="alert alert-info" role="alert" ng-if="!collection.posts.length">Коллекция пуста</div>


</div>
