<div id="right-top-menu">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-right affix">
                <button type="button" class="btn btn-link" title="Посты" ui-sref="main.blog.postEdit"><i class="fa fa-file-text-o"></i></button>
                <button type="button" class="btn btn-link" title="Каталоги" ui-sref="main.blog.catalogEdit"><i class="fa fa-folder-o"></i></button>
                <button type="button" class="btn btn-link" title="{{user.social.name}}" ui-sref="main.blog.author({userId: user.system.id})"><i class="fa fa-user"> {{user.social.name}}</i></button>
                <button ng-click="signOut()" id="signOut" type="button" class="btn btn-link"><i class="fa fa-sign-out"></i></button>
            </div>
        </div>
    </div>
</div>

<div id="wrapper">
    <!-- main navbar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    testrey.co
                </a>
            </li>
            <li><a href="#"><i class="fa fa-cogs"> Dashboard</i></a></li>
            <li><a ui-sref="main.blog.home"><i class="fa fa-book"> Blog</i></a></li>
            <li><a ui-sref="main.recommendation"><i class="fa fa-compass"> Recommendation</i></a></li>
            <li><a ui-sref="main.recommendationFake"><i class="fa fa-compass"> Recommendation (Fake)</i></a></li>
            <li><a href="#"><i class="fa fa-check-square-o"> Criterion</i></a></li>
            <li><a href="#"><i class="fa fa-code-fork"> Other projects</i></a></li>
            <li><a href="#"><i class="fa fa-credit-card"> About</i></a></li>
        </ul>
    </div>
    <!-- end main navbar -->

    <!-- main page -->
    <div id="page-content-wrapper">

        <!-- top buttons -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1 text-left affix">
                    <button id="menu-toggle" type="button" class="btn btn-link"><i class="fa fa-bars"></i></button>
                </div>
                <div class="col-md-offset-10 col-md-1 text-right affix"></div>
            </div>
        </div>
        <!-- end top buttons -->

        <!-- title -->
        <div id="masthead">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h1>{{main.title}} <p class="lead">main blog</p></h1>
                    </div>
                    <div class="col-md-5">
                        <!-- <div class="well well-lg">
                            <div class="row">
                                <div class="col-md-12">
                                    Ad Space
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- end title -->

        <!-- main container -->
        <div class="container">
            <div ui-view="container"></div>
        </div>
        <!-- end main container -->

    </div>
    <!-- end main page -->

</div>
<!-- end wrapper -->

<!-- Menu Toggle Script -->
<script>
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
});
</script>
